header {
  width: 100vw;
  height: 92px;
  background-color: #fff;
  position: fixed;
  top: 0;
}

.logo {
  display: flex;
  align-items: center;
  position: relative;
}
img {
  width: 77px;
  height: 67px;
}
.logofont {
  position: absolute;
  left: 59px;
  font-size: 28px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  color: #2d4dbf;
}

.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul li a {
  color: black;
  font-size: 20px;
  font-weight: 500;
  padding: 30px;
}
nav ul li a:hover {
  color: #2d4dbf;
  font-weight: 700;
}

.contact {
  width: 128px;
  height: 33px;
  background-color: #2d4dbf;
  border-radius: 10px;
  border: none;
  outline: none;
}
.contact:hover {
  background: none;
  border: 2px solid #2d4dbf;
}

.contact a {
  color: white;
  font-size: 20px;
  font-weight: 500;
}
.contact a:hover {
  color: #2d4dbf;
}
